In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container {width:100% !important;}</style>"))

In [2]:
1 + 1

2

In [3]:
7 -4

3

In [4]:
3 * 4

12

In [5]:
10 % 2 == 0

True

In [6]:
11 % 2 == 0

False

## 짝수와 홀수를 구분할 수도 있음

In [7]:
12 % 2== 0 and 12 % 3 == 0

True

In [8]:
14 % 2 == 0 or 14 % 3 == 0

True

In [9]:
# 변수명으로 허용되지 않는 것들
# 1. 숫자가 앞에 붙을 경우
# 2. 언더바(_)를 제외한 특수기호
# 3. 띄어쓰기
a = 3
b = 5

a + b

8

In [10]:
a = 3

a = a + 1

a

a = a + 2

a

6

In [11]:
# int == integer == 정수형
# str == string == 문자열

In [12]:
"Hello World"

'Hello World'

In [13]:
'Hello World'

'Hello World'

In [14]:
# 문자열에 홑따움표가 들어갈땐 쌍다움표로 감쌀 수 있다(반대도 가능)
"Shayne's weight?"

"Shayne's weight?"

In [15]:
# 파이썬은 대소문자도 구분함
'C' == 'c'

False

In [16]:
# 숫자 1과 문자 1도 구분함
1 == "1"

False

In [17]:
1 + 2

3

In [18]:
"1" + "2"

'12'

# 불(bool)

In [19]:
# 불은 참과 거짓

In [20]:
True

True

In [21]:
False

False

In [22]:
True == 1

True

In [23]:
False == 0

True

In [24]:
True == "True"

False

In [25]:
1 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## 문자열(심화)

In [26]:
message = "Hello World"
message

'Hello World'

In [27]:
# 하나씩 가져오는걸 indexing 이라고 함
# 검색하거나 승인하고 싶은 건 대괄호 나머진 소괄호 이렇게 외우면 편함

message[0]

'H'

In [28]:
message[1]

'e'

In [29]:
message[-1]

'd'

In [30]:
message[:4]

'Hell'

In [31]:
message[4:]

'o World'

In [32]:
'H' in message

True

In [33]:
'h' in message

False

In [34]:
'Hell' in message

True

In [35]:
# method
message.upper()

'HELLO WORLD'

In [36]:
message.lower()

'hello world'

In [37]:
message.count('o')

2

In [38]:
message.replace('H', 'J')

'Jello World'

## 리스트

In [39]:
# 데이터가 매우 많을 때 일일이 변수에 할당하는 게 아니라 묶어서 하나의 변수에 할당할 수 있음
# 리스트 == 여려개의 값을 묶어서 할당

odd = [1, 3, 5, 7, 9]
odd

[1, 3, 5, 7, 9]

In [40]:
odd[0:4]

[1, 3, 5, 7]

In [41]:
odd[:4]

[1, 3, 5, 7]

In [42]:
odd[4:]

[9]

In [43]:
1 in odd

True

In [44]:
2 in odd

False

In [45]:
3 in odd

True

In [46]:
odd.pop()
odd

[1, 3, 5, 7]

In [47]:
odd.reverse()
odd

[7, 5, 3, 1]

In [48]:
odd = odd + [13, 15, 17]
odd

[7, 5, 3, 1, 13, 15, 17]

In [49]:
# 하나씩 바꿔줄 수도 있음

odd[3] = -1
odd[5] = -1
odd

[7, 5, 3, -1, 13, -1, 17]

## 제어문(if문)

In [50]:
age = 10

if age < 5:
    print('아이')
elif age < 18:
    print('학생')
else:
    print('어른')

학생

In [51]:
 age = 10

if age < 5:
    print('아이')
print('!')

!

## 반복문(for문)

In [52]:
basket = ['apple', 'banana', 'chicken', 'pineapple', 'cherry']
basket

['apple', 'banana', 'chicken', 'pineapple', 'cherry']

In [53]:
print(basket[0])
print(basket[1])
print(basket[2])
print(basket[3])
print(basket[4])

apple
banana
chicken
pineapple
cherry

In [54]:
for product in basket:
    print(product)

apple
banana
chicken
pineapple
cherry

In [55]:
for i in range(1, 10):
    if i == 5:
        print('bang!')
    print(i)
    
    print('complete!')

1
complete!
2
complete!
3
complete!
4
complete!
bang!
5
complete!
6
complete!
7
complete!
8
complete!
9
complete!

## 함수

In [56]:
# def == define
def multiply(a, b):
    c = a * b
    
    return c

In [57]:
multiply(2, 3)

6

In [58]:
def sign(n):
    if n > 0:
        return '양수'
    elif n < 0:
        return '음수'
    else:
        return '0'

In [59]:
sign(-1)

'음수'

In [60]:
sign(0)

'0'

In [61]:
sign(1)

'양수'

In [62]:
for n in [-1, 0, +1]:
    print(sign(n))

음수
0
양수